<h1>{{recipe.name}}</h1>

<div>
	<div ng-repeat="ingridient in ingridients">
		<span ng-click="removeIngridient(ingridient)">X</span>
		<span>{{ingridient.quantity}}</span> 
		<span>{{ingridient.description}}</span>
	</div>
	<div>
		<form name="newIngridientForm">
			<div>
				<input type="text" name="description" placeholder="Ingridient" ng-model="newIngridient.description" required ng-minlength=3 />
				<input type="text" name="quantity" placeholder="Quantity" ng-model="newIngridient.quantity" cols="5" required />
				<button ng-click="saveIngridient()">add</button>
			</div>
		</form>
	</div>
</div>

<div>
	{{recipe.notes}}
</div>

<div>
	<div ng-repeat="recipeStep in recipeSteps | orderBy:'step_number'">
		{{recipeStep.step_number}} {{recipeStep.description}}
	</div>
	<form name="newRecipeStepForm">
		<div>
			<textarea name="description" placeholder="Step #{{recipeSteps.length + 1}}" ng-model="newRecipeStep.description" cols="50" rows="3"></textarea>
			<button ng-click="saveRecipeStep()">add</button>
		</div>
	</form>
</div>

