// Place all the styles related to the RecipeSteps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.steps-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.recipe-step-number {
	color: rgb(160, 160, 167);
	font-size: 2em;
	vertical-align: middle;
}

.recipe-step-text {
	vertical-align: middle;
}